html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;

}

:root {
    --input-background: #c4c4c4;
    --accent-color:  #404040;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: #eaeaea;
}



.form {
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 5px;
    background-color: #eaeaea;
    padding: 5px;
    border-radius: 5px;
}

.form span {
    display: block;
    width: 100%;
    color: red;
}

.form label {
    border: none;
}

.form input {
    width: 100%;
    height: 25px;
    padding-left: 10px;
    background-color: var(--input-background);
    color: var(--accent-color);
    border: none;
    border-radius: 5px;
}

.form input::placeholder {
    color: var(--accent-color);
    
}

.label__file {
    grid-column: 1span;
    grid-row: 1/5;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--input-background);
    cursor: copy;
    color: #404040;
    overflow: hidden;
    border-radius: 5px;

}

.img__file {
    display: none;
}

.form__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    border-radius: 5px;
    display: block;
    height: 80%;
}

.form__desc {
    height: 100px;
    width: 100%;
    padding-left: 10px;
    background-color: var(--input-background);
    border: none;
    resize: none;
    color: black;
    border-radius: 5px;

}

.form__desc::placeholder {
    color: #404040;
}


.btn {
    display: inline-block;
    width: 70px;
    height: 29px;
    text-align: center;
    background-color: var(--input-background);
    justify-self: end;
    border: none;
    outline: none;
    cursor: pointer;
    color: #404040;
    border-radius: 5px;
}

.container {
    width: 650px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;

}

.card {
    height: 280px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #eaeaea;
    color: var(--accent-color);
    text-decoration: none;
    border-radius: 5px;
}

.card__img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
}
.card__title {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.card__desc {
    margin: 0;
    margin-bottom: 20px;
    border-radius: 5px;
}

.btn__next {
    order: 1;
    grid-column: 2/4;
    margin: 0 auto;
    display: none;
    border-radius: 5px;
}

